// PROJECT CONFIG --------------------- //

//--------------------------------//

// TYPOGRAPHY SETTINGS

$font_size:   16px;
$small_font:  0.875em;
$large_font:  2em;
$line_height: 1.6em;

//--------------------------------//

// COLOR SCHEME SETTINGS

$white: #ffffff;
$grey:  #444444;

//--------------------------------//

// LAYOUT SETTINGS

$gutter:     24px;
$responsive: true;

$viewport_palm: 500px;
$viewport_lap:  800px;
$viewport_desk: 1024px;

//--------------------------------//

// FILE PATHS

$public_path:     "../";
$image_directory: "../img/";

//--------------------------------//